<!DOCTYPE html>
<html lang="en">

<head>
	<title>three.js webgl visor laberinto</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script type="module" src="/javascripts/laberinto.js"></script>
</head>

<body>




	<!--<div id="botonera">
		<input type="file" class="form-control-file custom-file-upload" id="fileUpload">
		<button id="buttonLoadLabyrinth" class="btn btn-light">Cargar laverinto</button>
	</div>-->
	<div id="botonera">

		<div class="fileUpload btn btn-secondary">
			<span>Elegir Laberinto</span>
			<input id="uploadBtn" type="file" class="upload" />
		</div>
		<input id="uploadFile" placeholder="Fichero" disabled="disabled" />
		<button id="buttonLoadLabyrinth" class="btn btn-secondary">Cargar laberinto</button>
	</div>




	<script type="module">

		
	</script>

</body>

</html>